.header {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  background-color: bisque;
  font-size: 20px;
}

.header__link {
  color: #a34d1b;
  padding: 6px;
  font-size: 18px;
}
